<p id="notice"><%= notice %></p>

<h1>Index</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Id</th>
      <th>Admin?</th>
      <th>Goals</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
        <td><%= user.admin? %></td>
        <td>                   
        <ul>
        <% if user.user_goals.any? %>
          <% user.user_goals.each do |ug| %>
          <li><%= ug.goal.name %></li>
          <% end %>
        <% else %>
        <li> This user has no goals yet</li>
        <% end %>
        </ul>
        </td>
      
        
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_registration_path %>
