
  <strong>User Show Page:</strong> <br>
  
 
  <b>Email:</b> <%= @user.email %> <br>
  
  
<table>
  <thead>
    <tr>
      <th>UG ID</th>
      <th>Goal ID</th>
      <th>Goal Name</th>
      <th>Plan ID</th>
      <th>Plan Name</th>
      <th>Goal since:</th>
    </tr>
  </thead>
  <tbody>
      <% if @ug1.any? %>
      <% @ug1.each do |ug| %>
      <tr>
      <td><%= ug.id %></td>
      <td> <%= ug.goal.id %> </td>
      <td><%= ug.goal.name %></td>
      <td><%= ug.plan.nil? ? "No plan chosen for this goal yet" : ug.plan.id %> </td>
      <td><%= ug.plan.nil? ? "No plan chosen for this goal yet" : ug.plan.name %></td>
      <td> timestamp here</td>
    </tr>
      <% end %>
      

      
    <% else %>
    This user has no goals yet
    <% end %>
    </tbody>
</table>

 
  
  

