<p id="notice"><%= notice %></p>

<h1>Goals</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Followers</th>
      <th>Plans</th>

      <th colspan="3"></th>
      <th></th>
      <th></th>
      <th>Following Goal?</th>


    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.name %></td>
        <td><%= pluralize(goal.users.count, "user") if goal.users %> following this goal.</td>
        <td><%= pluralize(goal.plans.count, "plan") if goal.plans %> for this goal.</td>
        
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Follow Goal', follow_goal_path(goal)  %></td>
        <td><%= link_to 'unfollow Goal', unfollow_goal_path(goal), method: :put %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path %>
