<p>
  <center>
    <H1>Plans available for: <%= @goal.name %> </H1><br>
  </center>
<table border="1">
  <thead>
<% if @goal.plans.any? %>
    <tr>
      <th>Plan ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Users following plan</th>
      <th>Plan Followers</th>
      <th>User following?</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    
    <% @goal.plans.each do |plan| %>
      <tr>
        <td><%= plan.id %></td>
        <td><%= plan.name %></td>
        <td><%= plan.description %></td>
        <td><% if plan.user_goals.any? %>
        <ul>
            <% plan.user_goals.each do |pug| %>
            <li><%= link_to pug.user.email, user_path(pug.user) %></li>
            <% end %>
        </ul>
        <% else %>
        <center>No followers yet</center>
        <% end %>        
        </td>        
        <td><%= plan.user_goals.count %></td>
           <td> <% if plan.user_goals.any? %> 
           <%= plan.user_goals_inside(current_user.id) %>
           <% else %>
            <!--This is an empty cell, I can add content later -->
           <% end %>

          </td>


        
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
This goal has no plans yet. Why not create the first <%= link_to "plan?", new_plan_path(@goal) %>

<% end %>


<br>
<hr>
<% if @goal.users.any? %>
Users with this goal: 
<%= @goal.users.count %> <br>
<ul>

  <% @goal.users.each do |user| %>
<li>  <%= user.email %></li>
  <% end %>
</ul>



<% else %>
No users have this goal yet
<% end %>




<br>
<hr>
<br>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
