<p id="notice"><%= notice %></p>

<p>
  <center>
    <H1>Plans available for: <%= @goal.name %> </H1><br>
  </center>
  
  
  <table>
  <thead>
    <tr>
      <th>Plan ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Users following goal</th>
      <th>Following</th>
      <th>User following?</th>
      <th></th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @goal.plans.each do |plan| %>
      <tr>
        <td><%= plan.id %></td>
        <td><%= plan.name %></td>
        <td><%= plan.description %></td>
        <td><% if plan.user_goals.any? %>
        <ul>
            <% plan.user_goals.each do |pug| %>
            <li><%= link_to pug.user.email, user_path(pug.user) %></li>
            <% end %>
        </ul>
        <% else %>
        <center>No followers yet</center>
        <% end %>        
        </td>        
        <td><%= plan.user_goals.count %></td>
         <td>
        </td>
        
        
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  
 
<% if @goal.users.any? %>
Users with this goal: 
<%= @goal.users.count %> <br>
<ul>

  <% @goal.users.each do |user| %>
<li>  <%= user.email %></li>
  <% end %>
</ul>



<% else %>
No users have this goal yet
<% end %>




<br>
<hr>
<br>
<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
